<div class="center hero-unit">

<h1>Welcome to FratChat</h1>
<p>
	This is a app for Fraternities and Sororities to chat 
</p>	

<%=	link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>
