	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
		   <div class="container">
			<%= link_to "Social App", '#', id: "logo" %>
			<nav>
			  <ul class="nav pull-right">
			    <li><%= link_to "home",   '#' %></li>
			    <li><%= link_to "about",  '#' %></li>	
			    <li><%= link_to "signin", '#' %></li>
			  </ul>
		    </mav> 
			</div>   
	    </div>
	  </header>	 
